<a href="https://colab.research.google.com/github/Narawit007/BSC_DPDM2025/blob/main/Ch3_Data_Preprocessing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Import Data

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## import pandas

In [13]:
import pandas as pd
flood = pd.read_csv('/content/drive/MyDrive/BSC_data 2026/flooding database.csv')
print("Data loaded successfully into 'flood' DataFrame. Here are the first 5 rows:")
from IPython.display import display
display(flood.head())

Data loaded successfully into 'flood' DataFrame. Here are the first 5 rows:

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,Heavy rain,2.0,316.73,38.0,38.0,43,1,0,-5,NaN
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,"Tropical Storm, Surge",1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,"Snowmelt, Ice, Rain",2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,Heavy rain,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0

In [8]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/BSC_data 2026/flooding database.csv')
print("Data loaded successfully. Here's the full table:")
from IPython.display import display
display(df)

Data loaded successfully. Here's the full table:

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,Heavy rain,2.0,316.73,38.0,38.0,43,1,0,-5,NaN
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,"Tropical Storm, Surge",1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,"Snowmelt, Ice, Rain",2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,Heavy rain,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
908,DFO_4683_From_20180901_to_20181002,4683,std,NaN,Ghana,NaN,-1.066060,9.537550,9/1/18,10/2/18,...,Dam,1.5,1866.91,79032.0,38895.0,79032,1,40137,0,NaN
909,DFO_4695_From_20181023_to_20181027,4695,std,NaN,Mexico,NaN,-105.236000,23.721800,10/23/18,10/27/18,...,"Tropical Storm, Surge",1.5,2720.37,23128.0,15725.0,23128,1,7403,0,NaN
910,DFO_4703_From_20181029_to_20181107,4703,otsu,NaN,Paraguay,NaN,-57.085300,-25.342700,10/29/18,11/7/18,...,Heavy rain,1.0,10019.87,29435.0,25393.0,29435,1,4042,0,NaN
911,DFO_4704_From_20181124_to_20181129,4704,std,NaN,Vietnam,NaN,107.137000,11.491000,11/24/18,11/29/18,...,"Tropical Storm, Surge",1.0,6467.41,218916.0,173753.0,218915,0,45163,1,NaN
912,DFO_4711_From_20181205_to_20181210,4711,std,NaN,USA,NaN,-120.058000,35.778700,12/5/18,12/10/18,...,Heavy rain,1.5,2475.92,28821.0,26654.0,28821,1,2167,0,NaN

#Data Cleaning

In [19]:
print("Missing values in each column:")
print(df.isnull().sum())

Missing values in each column:
system:index           0
index                  0
threshold_type         0
glide_index          232
dfo_country            0
dfo_other_country    275
dfo_centroid_x         0
dfo_centroid_y         0
dfo_began              0
dfo_ended              1
dfo_validation         2
dfo_dead               0
dfo_displaced          0
dfo_cause              2
dfo_severity           0
gfd_area               0
gfd_exp_ghsl_ts        1
gfd_exp_ghsl_2000      1
gfd_exp_ghsl_2015      0
Errors                 0
dif 2000               0
dif 2015               0
error 2000           889
dummy                  0
dtype: int64

## Missing Data

### Drop Record ที่มี missing ออก

drop ถ้ามี missing

In [11]:
df_cleaned = df.dropna()
print("DataFrame after dropping rows with missing values:")
from IPython.display import display
display(df_cleaned)

DataFrame after dropping rows with missing values:

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_cause,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,"Tropical Storm, Surge",1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0
7,DFO_1725_From_20010512_to_20010608,1725,std,0,Russia,0,106.619051,58.489746,5/12/01,6/8/01,...,"Snowmelt, Ice, Rain",2.0,35430.05,57438.0,57438.0,67466,1,0,-10028,1.0
83,DFO_2117_From_20030101_to_20030108,2117,otsu,0,Germany,Portugal,5.625135,49.207412,1/1/03,1/8/03,...,Heavy rain,1.0,5305.10,1242069.0,1242069.0,1307003,1,0,-64934,1.0
123,DFO_2208_From_20030416_to_20030528,2208,std,0,Russia,0,64.739289,55.453563,4/16/03,5/28/03,...,"Snowmelt, Ice, Rain",1.0,98547.62,1014245.0,1014245.0,931108,1,0,83137,1.0
125,DFO_2214_From_20030423_to_20030513,2214,std,0,Russia,0,79.316216,57.820476,4/23/03,5/13/03,...,"Snowmelt, Ice, Rain",1.0,54899.72,260971.0,260971.0,240926,1,0,20045,1.0
128,DFO_2221_From_20030501_to_20030516,2221,otsu,0,Russia,0,42.394583,63.531266,5/1/03,5/16/03,...,"Snowmelt, Ice, Rain",1.0,10025.00,76356.0,76356.0,71151,1,0,5205,1.0
143,DFO_2296_From_20030727_to_20031010,2296,std,0,China,0,124.701838,47.943961,7/27/03,10/10/03,...,Heavy rain,1.0,13836.29,567968.0,567968.0,743429,1,0,-175461,1.0
198,DFO_2471_From_20040414_to_20040516,2471,std,0,Russia,0,86.610210,51.975446,4/14/04,5/16/04,...,"Snowmelt, Ice, Rain",1.0,28026.03,317137.0,317137.0,301011,1,0,16126,1.0
262,DFO_2688_From_20050701_to_20050812,2688,std,0,China,0,125.500543,44.562689,7/1/05,8/12/05,...,Heavy rain,1.0,5007.34,134044.0,134044.0,221285,1,0,-87241,1.0
326,DFO_2851_From_20060421_to_20060531,2851,std,0,Russia,0,87.143833,50.775179,4/21/06,5/31/06,...,"Snowmelt, Ice, Rain",1.0,41144.57,555571.0,555571.0,522773,1,0,32798,1.0
340,DFO_2923_From_20060712_to_20060714,2923,std,0,Russia,0,106.524637,50.791203,7/12/06,7/14/06,...,Heavy rain,1.0,1012.58,6837.0,6837.0,7354,1,0,-517,1.0
375,DFO_3076_From_20070511_to_20070613,3076,std,0,Russia,0,85.839433,56.937226,5/11/07,6/13/07,...,"Snowmelt, Ice, Rain",1.0,51648.83,96127.0,96127.0,101511,1,0,-5384,1.0
588,DFO_3654_From_20100525_to_20100531,3654,otsu,0,New Zealand,0,169.917994,-45.156686,5/25/10,5/31/10,...,Heavy rain,2.0,698.74,3902.0,3281.0,3902,1,621,0,1.0

### dropเฉพาะเกิดmissingในตัวแปรที่เราจะใช้

In [22]:
columns_to_check = ['dfo_country', 'dfo_ended', 'dfo_other_country', 'dfo_began', 'dfo_dead', 'dfo_cause', 'dfo_severity']
df_filtered = df.dropna(subset=columns_to_check)
print("DataFrame after dropping rows with missing values in specified columns:")
from IPython.display import display
display(df_filtered)

DataFrame after dropping rows with missing values in specified columns:

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000,dummy
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,2.0,316.73,38.0,38.0,43,1,0,-5,NaN,0
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN,0
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN,Hungary
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN,Vietnam
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,DFO_4516_From_20170908_to_20170919,4516,std,TC-2017-000132-CUB,USA,Cuba,-81.625156,28.594245,9/8/17,9/19/17,...,2.0,9990.79,108896.0,92345.0,108883,0,16551,13,NaN,Cuba
886,DFO_4581_From_20180310_to_20180314,4581,std,NaN,Croatia,Bosnia and Herzegovina,16.947210,44.734938,3/10/18,3/14/18,...,1.0,1564.28,53495.0,50783.0,53495,1,2712,0,NaN,Bosnia and Herzegovina
893,DFO_4597_From_20180325_to_20180408,4597,std,NaN,Greece,Bulgaria,26.671405,41.531705,3/25/18,4/8/18,...,1.5,2818.83,57706.0,51639.0,57706,1,6067,0,NaN,Bulgaria
897,DFO_4640_From_20180625_to_20180711,4640,std,NaN,India,Pakistan,75.143900,33.375200,6/25/18,7/11/18,...,1.0,2104.94,224236.0,60172.0,224236,1,164064,0,NaN,Pakistan
902,DFO_4662_From_20180726_to_20180904,4662,std,NaN,Colombia,Venezuela,-68.294100,2.753690,7/26/18,9/4/18,...,1.5,6205.09,31258.0,15208.0,31258,1,16050,0,NaN,Venezuela

### เติม Dummy

In [15]:
df_filled_dummies = df.copy()
df_filled_dummies['dfo_other_country'] = df_filled_dummies['dfo_other_country'].fillna('unknown')
df_filled_dummies = pd.get_dummies(df_filled_dummies, columns=['dfo_other_country'], prefix='dfo_other_country', drop_first=True)
print("DataFrame after filling missing 'dfo_other_country' with 'unknown' and creating dummy variables:")
from IPython.display import display
display(df_filled_dummies.head())

DataFrame after filling missing 'dfo_other_country' with 'unknown' and creating dummy variables:

,system:index,index,threshold_type,glide_index,dfo_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,dfo_validation,...,dfo_other_country_Ukraine,dfo_other_country_Uruguay,dfo_other_country_Uzbekistan,dfo_other_country_Venezuela,dfo_other_country_Viet Nam,dfo_other_country_Vietnam,dfo_other_country_Zambia,dfo_other_country_Zimbabwe,dfo_other_country_Zimbawe,dfo_other_country_unknown
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,143.697800,-31.268059,2/18/00,3/1/00,News,...,False,False,False,False,False,False,False,False,False,False
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,47.295670,-15.782624,2/17/00,3/11/00,News,...,False,False,False,False,False,False,False,False,False,False
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,22.415404,46.763746,4/5/00,4/25/00,News,...,False,False,False,False,False,False,False,False,False,False
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,105.063841,11.242567,7/11/00,8/10/00,News,...,False,False,False,False,False,True,False,False,False,False
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,132.057679,43.773883,8/30/00,9/10/00,News,...,False,False,False,False,False,False,False,False,False,False

### เติมmissing ด้วยค่ากลาง

In [21]:
mode_dfo_cause = df['dfo_cause'].mode()[0]
df['dfo_cause'].fillna(mode_dfo_cause, inplace=True)
print(f"Missing values in 'dfo_cause' filled with mode: {mode_dfo_cause}")
print("Number of missing values in 'dfo_cause' after imputation:")
print(df['dfo_cause'].isnull().sum())

from IPython.display import display
display(df.head())

Missing values in 'dfo_cause' filled with mode: Heavy rain
Number of missing values in 'dfo_cause' after imputation:
0

,system:index,index,threshold_type,glide_index,dfo_country,dfo_other_country,dfo_centroid_x,dfo_centroid_y,dfo_began,dfo_ended,...,dfo_severity,gfd_area,gfd_exp_ghsl_ts,gfd_exp_ghsl_2000,gfd_exp_ghsl_2015,Errors,dif 2000,dif 2015,error 2000,dummy
0,DFO_1586_From_20000218_to_20000301,1586,otsu,0,Australia,0,143.697800,-31.268059,2/18/00,3/1/00,...,2.0,316.73,38.0,38.0,43,1,0,-5,NaN,0
1,DFO_1587_From_20000217_to_20000311,1587,otsu,0,Madagascar,0,47.295670,-15.782624,2/17/00,3/11/00,...,1.0,228.50,4594.0,4594.0,6855,1,0,-2261,NaN,0
2,DFO_1595_From_20000405_to_20000425,1595,otsu,0,Romania,Hungary,22.415404,46.763746,4/5/00,4/25/00,...,2.0,89.10,3093.0,3093.0,4618,1,0,-1525,NaN,Hungary
3,DFO_1614_From_20000711_to_20000810,1614,otsu,0,Thailand,Vietnam,105.063841,11.242567,7/11/00,8/10/00,...,1.0,4322.47,544758.0,544758.0,658643,1,0,-113885,NaN,Vietnam
4,DFO_1627_From_20000830_to_20000910,1627,otsu,0,China,Russia,132.057679,43.773883,8/30/00,9/10/00,...,1.0,740.33,785363.0,785363.0,766309,1,0,19054,1.0,Russia

### เติมด้วย ตัวแทนของกลุ่ม

In [ ]:
flood.groupby(dfo_severity ()).count()

In [26]:
flood_sever1 = flood.loc[flood['dfo_severity'] == 1, 'system:index']
flood_sever15 = flood.loc[flood['dfo_severity'] == 1, 'dfo_other_country']
flood_sever2 = flood.loc[flood['dfo_severity'] == 2, 'system:index']